.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0px 88px;
  height: 80px;
  align-items: center;

  :global {
    .menu {
      text-align: right;
    }

    .ant-menu {
      border: none;
      width: 100%;

      .ant-menu-submenu {
        border: none;

        &:hover {
          border: none;
        }
      }

      .ant-menu-item {
        border: none;

        &:hover {
          border: none;
        }
      }
    }
  }
}
